body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 150px;
  background: red;
}

.blue {
  background-color: blue;
}
